<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class='container' style="background-color: black;">
        <img src="../event.jpg" alt="event_stock_img">
        <h1 style="color: yellow;">New Invitation!</h1>
        <p style="font-size: 16px; color: yellow;"><%= message %></p>
    </div>
</body>
</html>

